@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500&display=swap');

/* Global site */
* {
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff6600;
    color: #ffffff;
}

/* Navbar */
.navbar {
    background-color: #003884;
    padding: 10px; 
    position: fixed;
}

.navbar-brand {
    padding-left: 20px;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-nav {
    padding-right: 30px;
    padding-left: 15px;
    /* padding-left: 50px; */
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    /* word-spacing: 50px; */
}

.navbar-nav a:hover {
    background-color: #ff6600;
    border: greenyellow 2px solid;
}

/* Hero Image Container */
    #hero-section {
        position: relative;
        /* text-align: center; */
}

    #hero-image {
    background-image: url("../images/liberty-again.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
    #hero-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#ff6600;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
  }
  
 
